<div class="col-sm-8 col-sm-offset-2 text-center home-description">
	Curated feedback from <br>people who know their shit
</div>

<div class="col-sm-6 col-sm-offset-3 input-group initial-question">
	<input type="text" class="form-control initial-input-form" placeholder="Propose your idea...">
	<span class="input-group-btn">
		<button class="btn btn-default initial-button" type="button">GO</button>
	</span>
</div>
