<div class="col-sm-8 col-sm-offset-2 text-center home-description">
	Curated feedback from <br>people who know their shit
</div>

<div class="col-sm-6 col-sm-offset-3 input-group initial-question">
	<input type="text" class="form-control initial-input-form" placeholder="What's your idea?">
	<span class="input-group-btn">
		<button class="btn btn-default initial-button" type="button"><%=  icon('play') %>
</button>
	</span>
</div>

<div class="col-sm-8 col-sm-offset-2 text-center home-description">
	Know some shit? Let's see <br>what you're good at.

<div class="">	
	<select class="selectpicker " data-live-search="true" title="Choose one of the following...">
	  <option>Computer Science</option>
	  <option>Business</option>
	  <option>Finance</option>
	  <option>Academic</option>
	  <option>Other</option>
	  <option>Music</option>
	  <option>Agriculture</option>
	  <option>Real Estate</option>
	</select>
</div>


</div>


       